[Unit]
Description=AVUE Camera Streaming
After=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/Code/avuePZT
ExecStart=/bin/bash -c 'cd /home/pi/Code/avuePZT && ./avueVideo.sh'
StandardOutput=syslog
Restart=always
StartLimitInterval=5min
StartLimitBurst=4
StartLimitAction=none
NotifyAccess=all

[Install]
WantedBy=multi-user.target
Alias=avueVideo.service
