[Unit]
Description=AVUE PZT Controller with Web Server
After=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/Code/avuePZT
ExecStart=/bin/bash -c 'cd /home/jdn/Code/avuePZT && python3 ./avuePZT.py'
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target
Alias=avue.service
