[Unit]
Description=AVUE PTZ Controller with Web Server
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/Code/avuePTZ
ExecStart=/bin/bash -c 'cd /home/pi/Code/avuePTZ && python3 ./avuePTZ.py -w 0'
StandardOutput=syslog
Restart=always
StartLimitInterval=5min
StartLimitBurst=4
StartLimitAction=none
NotifyAccess=all

[Install]
WantedBy=multi-user.target
Alias=avueControl.service
